body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd {
  margin: 0;
  font-size: .6rem;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  vertical-align: top;
}
a {
  text-decoration: none;
}
a,
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  outline: none;
}
html,
body {
  height: 100%;
  overflow: hidden;
  position: relative;
  /*模拟固定定位，给body加相对定位，页面外框不定位，里面的内容绝对定位*/
}
/*页面外框*/
.wrap {
  height: 100%;
  background: #efefef;
  overflow: hidden;
}
/*头部*/
#header {
  height: 1.98518519rem;
  background: #0f1410;
  position: relative;
  z-index: 1;
}
#logo {
  width: 2.99259259rem;
  height: 1.48148148rem;
  padding-top: 0.5037037rem;
  padding-left: 0.25185185rem;
  padding-right: 0.60740741rem;
  float: left;
}
#logo a {
  float: left;
  width: 100%;
  height: 100%;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}
.channel_btn {
  width: 1.2rem;
  height: 100%;
  float: left;
}
.on {
  background: url(../images/channel_ice.png) no-repeat;
  background-size: cover;
  background-position: 0 0.20740741rem;
}
.off {
  background: url(../images/channel_ice.png) no-repeat;
  background-size: cover;
  background-position: 0 -1.62962963rem;
}
.top_btns {
  height: 1.68888889rem;
  padding-top: 0.2962963rem;
  padding-right: 0.2962963rem;
  float: right;
}
.top_btns a {
  display: inline-block;
  background: #669b00;
  width: 1.64444444rem;
  height: 1.15555556rem;
  border-radius: 0.17777778rem;
  color: #fff;
  text-align: center;
  line-height: 1.15555556rem;
}
.channel_pannel {
  display: none;
  box-sizing: border-box;
  width: 100%;
  padding: 0.59259259rem 0;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  top: 2.04444444rem;
  border-top: 0.01481481rem solid #ffffff;
}
.channel_pannel li {
  float: left;
}
.channel_pannel li a {
  float: left;
  color: #fff;
  font-size: 16px;
  width: 3.25925926rem;
  height: 1.39259259rem;
  line-height: 1.39259259rem;
  text-align: center;
  padding: 0.2962963rem;
}
/*页面整体内容*/
#main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 1.98518519rem;
}
/*滑动内容区域*/
#minScroll {
  min-height: 100%;
}
/*表单*/
#search {
  box-sizing: border-box;
  height: 2rem;
  padding: 0.23703704rem;
  background: #0f1410;
}
#search input {
  border: none;
  outline: none;
  height: 1.51111111rem;
  line-height: 1.51111111rem;
}
#search input[type="search"] {
  box-sizing: border-box;
  width: 12.26666667rem;
  padding-left: 0.26666667rem;
  float: left;
  font-size: 0.57777778rem;
  background: #9e999f;
  color: #323033;
  border-radius: 0.2962963rem 0 0 0.2962963rem;
}
#search input[type="search"]::-webkit-input-placeholder {
  color: #000;
}
#search input[type="search"]:focus {
  background: #fff;
  color: #333;
}
#search input[type="submit"] {
  width: 2.99259259rem;
  float: right;
  font-size: 0.74074074rem;
  background: #414141;
  color: #fff;
  border-radius: 0 0.2962963rem 0.2962963rem 0;
}
/*导航条*/
#navBar {
  box-sizing: border-box;
  padding-top: 0.47407407rem;
  padding-bottom: 0.22222222rem;
  height: 2.48888889rem;
  border-bottom: 1px solid #cad1ca;
  overflow: hidden;
}
#navBar ul {
  font-size: 0;
  white-space: nowrap;
  /*强行不换行*/
}
#navBar ul li {
  display: inline-block;
}
#navBar ul a {
  display: inline-block;
  padding: 0 0.56296296rem;
  font-size: 0.88888889rem;
  line-height: 1.71851852rem;
  color: #000;
}
#navBar li a.selected {
  background: #639a00;
  color: #fff;
}
/*轮播图*/
#focus_wrapper {
  width: 100%;
  height: 9.24444444rem;
  overflow: hidden;
  position: relative;
}
.swipe-wrap {
  position: absolute;
  left: 0;
  top: 0;
}
.swipe-wrap li {
  float: left;
}
.swipe-wrap img {
  width: 100%;
  height: 100%;
}
#position {
  position: absolute;
  right: 1.27407407rem;
  bottom: 0.5037037rem;
}
#position li {
  float: left;
  width: 0.53333333rem;
  height: 0.53333333rem;
  margin: 0 0.25185185rem;
  border-radius: 0.26666667rem;
  background: rgba(255, 255, 255, 0.7);
}
#position li.cur {
  background: #9ec72b;
}
/*MV*/
#MV {
  width: 15.52592593rem;
  margin: 0 auto;
  background: #fff;
}
.header {
  box-sizing: border-box;
  padding: 0 0.2962963rem;
  height: 1.68888889rem;
  line-height: 1.68888889rem;
  background: #fff;
}
.header h2 {
  float: left;
  font-size: 0.74074074rem;
  color: #000;
}
.header a {
  float: right;
  font-size: 0.59259259rem;
  color: #444;
}
#mvNav {
  padding-left: 0.2962963rem;
}
#mvNav ul {
  overflow: hidden;
}
#mvNav li {
  padding: 0.20740741rem 0.22222222rem;
  float: left;
  font-size: 0.65185185rem;
  color: #5a5a5a;
}
#mvNav li.cur {
  border-bottom: 2px solid #749d00;
}
.MVTab {
  padding: 0.13333333rem;
  margin-top: 0.13333333rem;
  margin-bottom: 0.1037037rem;
}
.MVTab ul {
  overflow: hidden;
}
.MVTab li {
  box-sizing: border-box;
  width: 7.4962963rem;
  padding: 0.08888889rem 0.1037037rem;
  background: #efefef;
  margin-bottom: 0.26666667rem;
  float: left;
}
.MVTab li:nth-child(odd) {
  margin-right: 0.13333333rem;
}
.MVTab li:nth-child(even) {
  margin-left: 0.13333333rem;
}
.MVTab li img {
  width: 7.28888889rem;
  height: 4.20740741rem;
}
.MVTab h2 {
  box-sizing: border-box;
  width: 100%;
  height: 1.12592593rem;
  line-height: 1.12592593rem;
  padding: 0 0.23703704rem;
  font-size: 0.56296296rem;
  overflow: hidden;
  /*自动隐藏文字*/
  text-overflow: ellipsis;
  /*文字隐藏后添加省略号*/
  white-space: nowrap;
  /*强制不换行*/
}
.MVTab .info {
  overflow: hidden;
}
.MVTab .info p {
  line-height: 0.97777778rem;
  padding-left: 1.03703704rem;
  float: left;
}
.MVTab .info p.play {
  display: inline-block;
  box-sizing: border-box;
  background: url(../images/mobile_index_ice.png) no-repeat;
  background-position: 0.17777778rem 0.13333333rem;
}
.MVTab .info p.comment {
  display: inline-block;
  box-sizing: border-box;
  background: url(../images/mobile_index_ice.png) no-repeat;
  background-position: 0.17777778rem -0.82962963rem;
}
.MVTab .info p span.commentbg {
  background: url(../images/mobile_index_ice.png) no-repeat 0 -0.97777778rem;
}
